body {
    background: gray;
}

h1 {
    text-align: center;
}

#back {
    display: block;
    margin: 0 auto;
    width: 10;
}

#back:hover {
    background: rgb(65, 61, 61);
    border-radius: 90%;
}

#ancora-back {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    font-size: large;
    color: white;
    padding: 4px ;
    width: fit-content;
}

a:hover {
    text-decoration: underline;
}

iframe {
    display: block;
    margin: 0 auto;
    padding: 12px;
}